@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding:0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  @apply overflow-x-hidden;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.banner{
  /* position: relative; */
  z-index:2;
  background-color: #f6f6f6;
    background-repeat: repeat-x;
    background-position: bottom center;
    background-image: url(../public//banner-img1.jpg);
    background-size: cover;
    overflow: hidden
}

ul{
  @apply p-5 absolute top-[100px] w-[260px]
}

li{
  @apply flex items-center mb-5 space-x-6 cursor-pointer;
}

.menubutton {
  @apply border-0 outline-none focus:outline-none absolute top-[17px] right-0 w-[50px] h-[50px];
}


.bg-linear{
  background-image: linear-gradient(90deg, rgb(255, 56, 52) 0%, rgb(255, 113, 51) 100%);
  @apply py-3 px-5 rounded cursor-pointer;
}

.bg-outline{
  @apply py-3 px-5 rounded cursor-pointer;
  color: rgb(255, 56, 52);
}

.relatived{
  position: relative!important;
}


@-ms-viewport{
    width: device-width;
  }

.poppins{
  font-family: 'Poppins', sans-serif!important;
}

.font-heading1 {
  @apply text-lg md:text-xl font-semibold;
  font-family: 'Poppins', sans-serif;
}

.font-heading2{
  @apply text-2xl  md:text-3xl lg:text-[2.75rem] font-bold;
  font-family: 'Poppins', sans-serif;
}

.font-body{
  @apply text-sm leading-loose text-center;
  font-family: 'Nunito', sans-serif;
}

.lh{
  line-height: 4rem;
}

.background-overlay-2{
  background-image: url(../public/background-blob.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
    transition: background .3s,border-radius .3s,opacity .3s;
}
.background-overlay-22{
  background-image: url(../public/background-blob-22.png);
    background-position: bottom left;
    
    background-repeat: no-repeat;
    background-size: auto;
    /* transform: rotateY(290deg), translateX(100px); */
    opacity: 1;
    transition: background .3s,border-radius .3s,opacity .3s;
}


tspan { white-space:pre; }	

.shp0 { fill: url(#grd1);}

.segment svg {
  width: 2.45rem;
  height: 2.45rem;
  position: relative;
  display: block;
}

.icon2 svg{
  width:3.5rem;
  height: 3.5rem;
}


/* Promo Section*/

.promo {
  background-image: url(../public/promo.png);
  @apply text-white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-another {
  background-color: #113;
    background-image: url(../public/bg-another.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-another-cards{
  background-color: #1a1941;
}

.bg-another .icon svg {
  background: linear-gradient(90deg,rgba(46,14,132,1) 0%,rgba(16,78,189,1) 100%);
    fill: #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 20px;
}

.checkmark svg{
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

/*Technology Solutions section*/
.tech-sol-section .card:hover{
  background-color: #104cba;
  @apply text-white;
}

.tech-sol-section .card:hover .thc {
  color: #fff;
}


.tech-sol-section .card:hover .bag-icon svg path {
  fill: white !important;
}

.thc{
 color: #010101;
}
.tech-sol-section .card:hover .loremt{
  color: #b1bcdb;
}


.tech-sol-section{
  background-image: url(../public/blob1.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 24% auto;
}
.bg-overlay{
  background-image: url(../public/blob2.png);
  background-position: -80px 780px;
  background-repeat: no-repeat;
  opacity: 1;
  height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.illustration img{
  height: auto;
    max-width: 100%;
    border: none;
}

.bag-icon svg{
  width: 3rem;
  height: 3rem;
  position: relative;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.progressbar{
  box-shadow: 10px 10px 24px 0 #c37e7175;
  border: none;
  overflow: inherit;
}

.progressbar .bar{
  background-color: transparent;
  background-image: linear-gradient(90deg,#FF3834 0%,#FF7133 100%);
}

/*Connect with us section*/

.consultancy{
  background-image: url(../public/consultancy.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px 105px;
}

/*Footer Section*/

.subemail{
  color: #010101 !important;
}
.footer{
  background-image: url(../public/footer.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.footer.blog{
  background-image: url(../public/blogfooter.jpg);
}

.sub-button{
  background: transparent url(../public/sub-button.png) no-repeat top right !important;
    color: transparent;
    background-size: contain;
    
}

.bg-rgba{
  background-color: rgba(17, 17, 51, .15);
}

.rgba{
  color:rgba(17, 17, 51, 1)
}
/* 
.do{
    filter: brightness(15%);
} */